.container {
  width: 400px;
  height: 80vh;
  background-color: var(--blue-2);
  border-radius: 20px;
  box-shadow: 10px 10px 10px var(--shadow-dark);
}
.upper-data {
  position: relative;
  overflow: hidden;
  height: 50%;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.upper-data img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.weather-data {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: var(--shadow-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
  text-align: center;
}
.location {
  font-size: 1.2rem;
}
.temperature {
  font-size: 4rem;
  font-weight: 400;
}
.more-info-label {
  color: var(--white);
}
.more-info-container {
  flex: 1;
  background-color: var(--shadow-light);
  border-radius: 10px 10px 0 0;
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.info-block {
  width: 50%;
  display: flex;
  flex-direction: row;
}
.info-block-label {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info-block-label span {
  font-size: 0.8rem;
  color: var(--white);
}
.info-block-value {
}
